#quote-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vw;
  background-color: #c4ece0;
  border: 2px solid purple;
  border-radius: 10px;
}

footer,
header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81a69b;
  background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#tweet-quote {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin-left: 100px;
  font-size: small;
}
